.page.theme_light {
  --header-title-color: #FFC2E6;
  --background-color: #FFF1F7;
  --text-background-color: #FF8DCB;
  --text-title-color: #FF0070;
  --text-subtitle-color: #FF0070;
  --text-color: #353430;
  --text-shadow: #FF0070;
  --decorated-zone-color: #353430;
  --text-color-des: #353430;
  --text-link-color: #FF8DCB;
  --text-header-hover: #32312D50;

  .header {
    background-image: url(../images/cover-image-light.png);
  }

  .header__decoration {
    display: none;
  }

}

@media (width < 1024px) {
  .title {
    --text-shadow: #FF8DCB;
  }
}