.page.theme_light {
  --header-title-color: #ffc2e6;
  --background-color: #fff1f7;
  --text-background-color: #ff8dcb;
  --text-title-color: #ff0070;
  --text-subtitle-color: #ff0070;
  --text-color: #353430;
  --text-shadow: #ff0070;
  --decorated-zone-color: #353430;
  --text-color-des: #353430;
  --text-link-color: #ff8dcb;
  --text-header-hover: rgba(50, 49, 45, 0.4);
  --background-phone: url(../images/cover-image-light.png);
  --rec-block: none;
  --text-font: "IBM Plex Mono", Courier, monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-title-color: #ffc2e6;
    --background-color: #fff1f7;
    --text-background-color: #ff8dcb;
    --text-title-color: #ff0070;
    --text-subtitle-color: #ff0070;
    --text-color: #353430;
    --text-shadow: #ff0070;
    --decorated-zone-color: #353430;
    --text-color-des: #353430;
    --text-link-color: #ff8dcb;
    --text-header-hover: rgba(50, 49, 45, 0.4);
    --background-phone: url(../images/cover-image-light.png);
    --rec-block: none;
    --text-font: "IBM Plex Mono", Courier, monospace;
  }
}
