/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-phone);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* header */

.header {
  margin: 0 20px;
  display: grid;
  block-size: 100vh;
  position: relative;
  grid-template-rows: auto min-content 1fr;
}

.header__theme-menu {
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--decorated-zone-color);
  text-align: center;
  font-family: var(--text-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.header__text {
  margin: 277px 0 114px -20px;
  text-shadow: 4px 4px 0px var(--text-shadow);
}

.title {
  color: var(--header-title-color);
  font-family: var(--text-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__title {
  background: var(--text-background-color);
  max-inline-size: 491px;
  justify-self: end;
  align-self: start;
}

.header__title-text {
  color: var(--text-color-des);
  font-family: var(--text-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu-button {
  padding: 2px 13px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  appearance: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--text-header-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-zone-color);
  pointer-events: none;
}

/* decoration */

.header__decoration {
  margin-block-start: 20px;
  display: var(--rec-block);
  position: absolute;
  right: 28px;
  top: 0;
  color: var(--decorated-zone-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: "";
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::before {
  margin-block-start: 20px;
  justify-self: end;
  align-self: start;
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  margin-block-end: 20px;
  justify-self: start;
  align-self: end;
  border-block-end: 1px solid var(--decorated-zone-color);
  border-inline-start: 1px solid var(--decorated-zone-color);
}

.header__decoration::after {
  position: absolute;
  content: "";
  block-size: 9px;
  inline-size: 9px;
  right: -19px;
  top: 8px;
  background-color: var(--decorated-zone-color);
  border-radius: 50%;
  box-shadow: drop-shadow(0px 0px 4px var(--decorated-zone-color));
}

/* main */
.main {
  display: grid;
  gap: 80px;
  padding: 60px 20px 60px 20px;
  font-family: var(--text-font);
}

/* section */
.section__main {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 315px 650px;
  gap: 20px;
}

.section__main_title {
  color: var(--decorated-zone-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-inline-size: 315px;
}

.section__main_articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__main_subtitle-text {
  background-color: var(--text-background-color);
  color: var(--text-color-des);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.little {
  font-weight: 400;
}

.section__main_subtitle-description {
  padding-block-start: 10px;
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.section__main_articles-text {
  background-color: var(--text-background-color);
  color: var(--text-color-des);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.section__main_subtitle-link {
  text-decoration: none;
  font-style: normal;
  text-shadow: 2px 2px 0px var(--text-link-color);
}

.section__main_subtitle-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__main_subtitle-link:focus {
  outline: none;
}

.section__main_subtitle-link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* section-column */
.section__main-column {
  display: grid;
  gap: 20px;
}

.section__main_articles-column {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* section-img */

.section__main_img-title {
  background-color: var(--text-background-color);
  color: var(--text-color-des);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  grid-area: section__main_img-title;
}

.section__main_articles-img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: top;
}

.section__main-img {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "section__main_img-title section__main_img-title section__main_img-title"
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

/* footer */
.footer {
  margin: 0 20px;
  display: grid;
  position: relative;
  block-size: 100vh;
  justify-content: center;
  align-content: center;
}

.footer-title {
  text-shadow: 2px 2px 0px var(--text-shadow);
}

/* 768 */
@media (width <1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    padding-block-start: 173px;
    gap: 13px;
  }

  .header__text {
    margin: 175px 0 165px -20px;
  }

  .header__title {
    max-inline-size: 364px;
  }

  .section__main {
    grid-template-columns: 236px 472px;
  }

  .section__main_title {
    max-inline-size: 236px;
  }

  .section__main_articles-column {
    grid-template-columns: none;
  }

  .footer-title {
    font-size: 120px;
  }

  .title {
    text-shadow: 4px 4px 0px var(--text-background-color);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* 365 */
@media (width<768px) {
  .header {
    margin: 10px;
    max-block-size: 650px;
  }

  .header__text {
    margin: 63px 0 53px 0;
  }

  .header__theme-menu-list {
    padding-block-start: 66.5px;
    padding-block-end: 10px;
    gap: 13px;
  }

  .main {
    padding: 40px 10px;
    gap: 50px;
  }

  .section__main {
    display: flex;
    flex-direction: column;
  }

  .section__main_title {
    max-width: none;
  }

  .section__main-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .footer {
    margin: 10px;
    max-block-size: 647px;
  }

  .decorated-zone::before,
  .decorated-zone::after {
    margin: 0;
  }

  .header__decoration {
    margin: 0;
  }

  .header__theme-menu {
    margin: 0;
  }
}
